
*.o
compile_flags.txt

.DS_Store

/src/*
!/src*/
!/src/*.c
!/src/*.html
!/src/.gitignore

/examples/*
!/examples*/
!/examples/*.c
!/examples/*.html
!/examples/.gitignore

/work/*
!/work*/
!/work/*.c
!/work/*.html
!/work/.gitignore

.worktree/

.idea

/build
/cmake-build-debug
/build_web

/sokol_demo/demo

